{% extends "base.html" %}

{% block page_content %}


<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Home</title>
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container mr-auto">
                <a class="navbar-brand" href="#"><img src="./IMG/SNRKS-LOGO.png" height="90" width="90" alt="JORDAN-ICON"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">In Stock</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Upcoming</a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </nav>
    </body>
</html>


{% endblock %}